.home-container{
    text-align: center;
    height: 640px;
    margin-left: 3rem;
    border: 50px solid black;    
}
.introduce-container{
    display: flex;
    text-align: middle;
    
    
}
.img-container{
    margin: 1rem;
    margin-right: 2rem;
    border: 1px solid black;
    padding: 0.5rem 0.5rem 0 0.5rem;
    border-radius: 0.5rem;
    background-image: url('/_multipages/Proflie.jpeg');
    background-size: 120%;
    width: 200px;
    height: 200px;
}
.text-container{
    margin-top: 1rem;
    margin-left: 4rem;
    text-align: middle;
}
.text{
    font-size: larger;
    text-align: middle;

}
.font{
    font-weight: bold;
    font-family: monospace;
}